# IDE
.vscode
.DS_Store
.dccache
.cache
.idea
.cspell

# React
node_modules
build
public/build
package-lock

# Remix
functions/\[\[path\]\].js
functions/\[\[path\]\].js.map
functions/_assets

# Templates
src/app

# Secrets
.secrets
.env
certs/