@tailwind base;
@tailwind components;
@tailwind utilities;

/** @todo **/
.scroll-track {
  background-color: #f1db9d;
  height: 2px;
  width: 100%;
  position: relative;
  top: -3px;
  z-index: -10;
}

@media (any-hover: none) {
  .scroll-track {
    display: none;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@keyframes grow {
  0% {
    opacity: 0;
    transform: scaleY(1);
  }

  30% {
    opacity: 0;
    transform: scaleY(1);
  }

  70% {
    height: -moz-fit-content;
    height: fit-content;
  }

  100% {
    transform: scaleY(1);
    opacity: 1;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.animate-open {
  animation: grow 0.2s ease-in 1 normal forwards;
}

@keyframes shrink {
  0% {
    transform: scaleY(1);
    opacity: 1;
    height: -moz-fit-content;
    height: fit-content;
  }

  70% {
    opacity: 0;
    transform: scaleY(1);
  }

  100% {
    height: 0px;
    transform: scaleY(1);
  }
}

.animate-close {
  animation: shrink 350ms ease-in 1 normal forwards;
  height: 24px;
  overflow: hidden;
}

@keyframes enter-child {
  0% {
    opacity: 0;
    transform: translateX(8px);
  }

  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}

@-webkit-keyframes enter-child {
  0% {
    opacity: 0;
    transform: translateX(8px);
  }

  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}

.animate-open .animate-child {
  opacity: 0;
  animation: enter-child 250ms ease-out forwards !important;
}

.animate-open a:nth-of-type(0) {
  animation-delay: 50ms !important;
}

.animate-open a:nth-of-type(1) {
  animation-delay: 60ms !important;
}

.animate-open a:nth-of-type(2) {
  animation-delay: 70ms !important;
}

.animate-open a:nth-of-type(3) {
  animation-delay: 80ms !important;
}

.animate-open a:nth-of-type(4) {
  animation-delay: 90ms !important;
}

.animate-open a:nth-of-type(5) {
  animation-delay: 100ms !important;
}

.animate-open a:nth-of-type(6) {
  animation-delay: 120ms !important;
}

.animate-open a:nth-of-type(7) {
  animation-delay: 140ms !important;
}

.animate-open a:nth-of-type(8) {
  animation-delay: 160ms !important;
}

.animate-open a:nth-of-type(9) {
  animation-delay: 180ms !important;
}

.animate-open a:nth-of-type(10),
.animate-open a:nth-of-type(11),
.animate-open a:nth-of-type(12),
.animate-open a:nth-of-type(13),
.animate-open a:nth-of-type(14),
.animate-open a:nth-of-type(15),
.animate-open a:nth-of-type(16),
.animate-open a:nth-of-type(17),
.animate-open a:nth-of-type(18),
.animate-open a:nth-of-type(19) {
  animation-delay: 200ms !important;
}