@tailwind base;
@tailwind components;
@tailwind utilities;


/** @todo **/
.scroll-track {
    background-color: #f1db9d;
    height: 2px;
    width: 100%;
    position: relative;
    top: -3px;
    z-index: -10;
}

@media (any-hover: none) {
    .scroll-track {
        display: none;
    }
}
